
/* Upper Section */

body {
    background-color: #ffffff;
    font-family: "Press Start 2P", monospace;
    text-transform: uppercase;
}

a {
    color: #000000;
    text-decoration: none;
}

.upperSection {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.principalDiv {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pressStartButton {
    font-size: 2rem;
}

.pressStartButton:hover {
    transition: var(--transition);
    border: 0.1em solid #f9f9f9;
}

.boldTextMain {
    font-weight: 900;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

/* Selection Pane */

.playerSelectionPane {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blinkeffect {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

@media (min-width: 572px) {
    .playerSelectionPane {
        justify-content: center;
    }
}

.card {
    border: none;
}

.card-body {
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

.playButton {
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--white);
    width: 100%;
    text-transform: uppercase;
}

/* Board Conatiner */ 

.board-container {
    width: 32vw;
    height: 32vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;
}

@media (max-width: 1024px) {
    .board-container {
        height: 40vw;
        width: 40vw;
    }
}

@media (max-width: 572px) {
    .board-container {
        width: 70vw;
        height: 70vw;
    }
}


.cell {
    text-align: center;
    font-size: 7vw;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 572px) {
    .cell {
        font-size: 15vw;
    }
}

.border-global {
    border-right: 0.03em solid #00000080;
    border-bottom: 0.03em solid #00000080;
    border-left: 0.03em solid #00000080;
    border-top: 0.03em solid #00000080;
}

.innerText {
    font-weight: 900;
    color: red;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.playerData {
    border: none;
    background-color: transparent;
}

/* Winner Page */ 

.main {
    width: 100vw;
    height: 55vh;
}

#winnerMessage {
    font-size: calc(1.25rem + 3vw);
}

.winnerMessageText {
    font-size: calc(0.5rem + 2vw);
    text-transform: uppercase;
}

.winnerButton {
    font-size: 1.5rem;
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--white);
}

.winnerButton:hover {
    transition: var(--transition);
    border: 0.1em solid #f9f9f9;
}

/* Footer Section */

#footertext {
    text-transform: initial;
    text-align: center;
}