/* .names {
    font-size: 16pt;
    text-align: center;
    background-color: blue;
} */

/* Rows attributes */
.row div {
    /* padding: 10em; */
    border: 1px solid black;
    height: 30vh;
    width: 30vw;
    float: left;
}

.row {
    clear: both;
}

